body { 	 
    margin:0px; 	
	background-color:#FFA07A; 	 
    background-image:url(bg1.jpg); 	
    color:#f9fcf5; 	 
    font-family:Arial, Helvetica, sans-serif;
	} 
	
#main{
    width:600px;
    height:auto;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    padding-left:10px;
    margin-top:250px;
    border-top:3px double #f1f1f1; 
    border-bottom:3px double #f1f1f1;
    padding-top:0px;

} 

#main form{
    font-family:"Comic Sans MS", cursive;
} 
	
/*css code for textbox */ 
	
#main .tb{
    height:28px;
    width:230px;
    border:1px solid #f26724;
    color:#fd7838;
    font-weight:bold;
    border-left:5px solid #f7f7f7;
    opacity:0.9;
}
	
#main .tb:focus{
    height:28px; 
    border:1px solid #f26724; 
    outline:none; 
    border-left:5px solid #f7f7f7;
} 
	
/*css code for button*/ 
	
#main .btn{
    width:150px; 
    height:32px; 
    outline:none; 
    color:#f7f7f7; 
    font-weight:bold; 
    border:0px solid #f26724; 
    text-shadow: 0px 0.5px 0.5px #fff; 
    border-radius: 2px; 
    font-weight: 600; 
    color: black; 
    letter-spacing: 1px; 
    font-size:14px; 
    background-color:#f1f1f1; 
    -webkit-transition: 1s; 
    -moz-transition: 1s; 
    transition: 1s;
} 
	
#main .btn:hover{
    
    outline:none; 
    border-radius: 2px; 
    color:#f26724; 
    border:1px solid #f1f1f1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 0.2s;
}

#signlog{
    width: 600px;
    height: 370px;
    margin-top: 20px;
    overflow: hidden;
}

#signup{
    width: 600px;
    height: 350px;
    position: relative;
    top: -5px;
    left: -600px;
    transition: .5s;
}

#loginmain{
    width: 600px;
    height: 350px;
    margin-top: -350px;
    position: relative;
    top: -5px;
    left: 0px;
    transition: .5s;
}

#crtact{
    background: none;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
}

#crtact:hover{
    text-decoration: underline;
}

